<section class="about" id="about">
    <div class="container d-flex justify-content-between flex-column h-100">
        <div class="section-title flex-grow-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2 data-aos="heading-show" class="text_background">
                            {{ data.title }}
                            <span class="heading_background">{{ data.subtitle }}</span>
                        </h2>
                        <p class="m-0">{{ data.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content flex-grow-1">
            <div class="row align-items-center">
                <div class="col-md-8 mt-5 mt-md-0">
                        <h3 class="m-0">I'm {{ data.info.fullName }}</h3>
                        <p class="my-4">{{ data.info.description }}</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="about-info mb-2">
                                    <span class="desc">Full Name:</span>
                                    <span>{{ data.info.fullName }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about-info mb-2">
                                    <span class="desc">Age:</span>
                                    <span>{{ data.info.age }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about-info mb-2">
                                    <span class="desc">Experience:</span>
                                    <span>{{ data.info.experience }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about-info mb-2">
                                    <span class="desc">Email:</span>
                                    <span>{{ data.info.email }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6" *ngIf="data.info.phone">
                                <div class="about-info mb-2">
                                    <span class="desc">Phone:</span>
                                    <span>{{ data.info.phone }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6" *ngIf="data.info.location">
                                <div class="about-info mb-2">
                                    <span class="desc">Location:</span>
                                    <span>{{ data.info.location }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="button_and_social my-4">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xl-6">
                                    <a
                                        [href]="social.cvDownloadLink || '#'"
                                        class="btn btn-outline-primary btn-lg"
                                        download="CV-KOUAKOU-EBOUHO-FRANCK-YVAN.txt"
                                    >
                                        Download CV
                                    </a>
                                </div>
                                <div class="col-xl-6">
                                    <ul class="social-icons list-inline mt-4 mt-xl-0">
                                        <li class="list-inline-item" *ngIf="social.facebook">
                                            <a [href]="social.facebook" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="social.linkedin">
                                            <a [href]="social.linkedin" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="social.pinterest">
                                            <a [href]="social.pinterest" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-pinterest-p"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="social.github">
                                            <a [href]="social.github" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-git"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="social.twitter">
                                            <a [href]="social.twitter" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="social.instagram">
                                            <a [href]="social.instagram" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="social.youtube">
                                            <a [href]="social.youtube" target="_blank" rel="noopener noreferrer">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
</section>