<!--Video Section START-->
<div class="section about_movie text-center d-flex flex-column align-items-center backgound-section" [style.background-image]="'url(' + data.thumbnailImageUrl + ')'">
    <div class="video-area">
        <a [attr.href]="data.videoUrl !== '#' ? data.videoUrl : null" class="btn-video-play" [class.iframe_popup]="data.videoUrl !== '#'" [attr.aria-disabled]="data.videoUrl === '#'">
            <i class="fas fa-play"></i>
        </a>
        <p class="mt-3">{{ data.buttonText }}</p>
    </div>
</div>
<!--Video Section END-->