<section class="services" id="service">
    <div class="container d-flex flex-column justify-content-between h-100 ">

        <div class="section-title flex-grow-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2 data-aos="heading-show" class="text_background">
                            {{ data.title }}
                            <span class="heading_background">{{ data.subtitle }}</span>
                        </h2>
                        <p class="m-0">{{ data.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-content flex-grow-1">
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 mb-2" *ngFor="let service of data.services">
                    <div class="service-single text-left p-5">
                        <span class="service-badge">Service</span>
                        <div class="service-icon">
                            <span [class]="service.icon"></span>
                        </div>
                        <h3 class="my-3">{{ service.title }}</h3>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>