<section class="resume" id="resume">

    <div class="container d-flex flex-column justify-content-between h-100 ">

        <div class="section-title flex-grow-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2  data-aos="heading-show" class="text_background">
                            {{ data.title }}
                            <span class="heading_background">{{ data.subtitle }}</span>
                        </h2>
                        <p class="m-0">{{ data.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-content flex-grow-1">
            <div class="row mt-4">
                <div class="col-lg-6">
                    <h3 class="mb-4">Education</h3>
                    <ul class="list-inline resume-list">
                        <li *ngFor="let edu of data.education">
                            <h4 class="mb-2">{{ edu.institution }}, {{ edu.title }}</h4>
                            <span class="time">{{ edu.period }}</span>
                            <p class="my-2">{{ edu.description }}</p>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <h3 class="mb-4">Experience</h3>
                    <ul class="list-inline resume-list">
                        <li *ngFor="let exp of data.experience">
                            <h4 class="mb-2">{{ exp.title }}<span *ngIf="exp.company">, {{ exp.company }}</span></h4>
                            <span class="time">{{ exp.period }}</span>
                            <p class="my-2">{{ exp.description }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6" *ngFor="let skill of data.skills">
                    <div class="skill-card p-3 mb-4">
                        <div class="skill-card-top d-flex justify-content-between align-items-center mb-3">
                            <h5 class="m-0">{{ skill.name }}</h5>
                            <span class="skill-level-tag">{{ getSkillLabel(skill.level) }}</span>
                        </div>
                        <div class="skill-dots" [attr.aria-label]="'Niveau ' + getSkillLabel(skill.level)">
                            <span
                                *ngFor="let dot of dots; let i = index"
                                class="dot"
                                [class.active]="i < getSkillDots(skill.level)"
                            ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>