<div class="section testimonial backgound-section" [style.background-image]="'url(' + data.backgroundImageUrl + ')'">
    <div class="container">
        <div class="row">
            <div id="client_slider" class="owl-carousel owl-theme">
                <div class="col-12" *ngFor="let testimonial of data.testimonials">
                    <div class="testimonial-box d-flex flex-column flex-md-row justify-content-between align-items-start p-5">
                        <div class="testimonial_icon mr-4">
                            <span class="mbri-quote-left"></span>
                        </div>
                        <div class="testimonial_content mt-3">
                            <p class="m-0">{{ testimonial.quote }}</p>
                            <div class="testimonial_author row mt-3">
                                <div class="col-12 col-md-7 col-lg-5 col-xl-4">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="author_picture mr-3" [style.background-image]="'url(' + testimonial.authorImageUrl + ')'"></div>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <div class="author_info py-2">
                                                <h3>{{ testimonial.authorName }}</h3>
                                                <p>{{ testimonial.authorRole }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>